* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.searchbar {
  margin: 10px;
}

.movie-card {
  margin: 10px;
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.movie-card .language {
  display: flex;
}

.movie-card img {
  height: 20px;
}

.movie-card .info {
  margin-left: 10px;
}

.fa-star {
  color: #FFD700;
}
