* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: grey;
  font-family: sans-serif;
}

header {
  background-color: #000;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: red;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.result-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.movie-card .poster {
  height: 100%;
  width: 100%;
}

.movie-card .titoloNonDisp {
  position: absolute;
  display: none;
  margin-top: 20px;
}

.movie-card .visible {
  display: block;
}

.movie-card .language {
  display: flex;
}

.movie-card .flag {
  height: 20px;
}

.movie-card .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.movie-card:hover .info {
  opacity: 1;
}

.fa-star {
  color: #FFD700;
}
